{% extends 'base.html' %}
{% block content %}
<div class="box">
<h1>Streams</h1>
<h3> Hello {{first}}{{last}}</h3>
&nbsp;
<table class="table">
 <tr>
 <th>Name</th>
 <th>Category</th>
 <th>Subject</th>
 </tr>
 {% for stream in streams %}
 <tr>
 <td>{{stream.name}}</td>
 <td>{{stream.category}}</td>
<td><a href="{% url 'subjects' %}"><button type="button" class="btn btn-success">Subjects</button></a></td>
 {% endfor %}
</table>
<a href="{% url 'home' %}"><button type="button" class="btn btn-success">Home Window</button></a>
</div>
{% endblock %}